<li class="flex items-center justify-between p-3">
  <div class="flex flex-1 gap-x-4 min-w-0">
    <div
      class="w-12 h-12 rounded-full flex items-center justify-center shrink-0"
      [style.background-color]="categoryConfig.bgClass"
    >
      <svg-icon
        [src]="'icons/category/' + categoryConfig.icon"
        [svgStyle]="{ 'width.px': 14, 'height.px': 19 }"
      ></svg-icon>
    </div>

    <div class="flex flex-col min-w-0">
      <span class="text-[#CFC2D6] truncate">
        {{ description }}
      </span>

      <div class="flex items-center text-[#CFC2D6] text-sm">
        <p>{{ category }}</p>
        <span class="mx-1">&bull;</span>
        <p>{{ date }}</p>
      </div>
    </div>
  </div>

  <div class="whitespace-nowrap" [style.color]="value > 0 ? '#4EDEA3' : '#FFB4AB'">
    @if (value > 0) {
      <span>+</span>
    }

    <span>
      {{
        value.toLocaleString('pt-BR', {
          style: 'currency',
          currency: 'BRL',
        })
      }}
    </span>
  </div>
</li>
