<header
  class="flex bg-[#131313] items-center sticky justify-between lg:px-10 lg:py-4 top-0 border border-b-[#ffffff10]"
>
  <span
    class="bg-linear-to-r from-[#DDB7FF] to-[#ADC6FF] text-center bg-clip-text text-transparent text-xl font-semibold"
    >Painel Principal</span
  >
  <div class="flex space-x-6 justify-center items-center">
    <div
      class="flex w-64 justify-center items-center gap-2 rounded-full bg-[#ffffff05] border border-[#ffffff05] lg:py-2 lg:px-4"
    >
      <svg-icon src="icons/magnifying-glass.svg"></svg-icon>
      <input
        type="text"
        class="flex-1 outline-none border-none text-[#CFC2D6] placeholder:text-[#6B7280] font-medium text-sm px-3 py-2.5"
        placeholder="Procurar transação..."
      />
    </div>
    <svg-icon class="cursor-pointer" src="icons/bell.svg"></svg-icon>

    <svg-icon class="cursor-pointer" src="icons/profile.svg"></svg-icon>
  </div>
</header>
