<article
  class="bg-[#201F1F20] border border-[#FFFFFF08] p-4 rounded-4xl flex flex-col w-full h-full"
>
  <div class="mb-4">
    <div class="flex justify-between w-full">
      <h2 class="text-xl text-[#E5E2E1]">{{ title }}</h2>

      <ng-content select="[widget-button]"></ng-content>
    </div>

    @if (subtitle) {
      <p class="text-xs text-[#CFC2D6]">{{ subtitle }}</p>
    }
  </div>

  <div class="flex-1 flex">
    <ng-content></ng-content>
  </div>

  <footer class="mt-auto text-[#CFC2D6]">
    {{ footer }}
  </footer>
</article>
