<div class="flex w-full bg-[#201F1F60] rounded-4xl border border-[#FFFFFF08] lg:p-8">
  <div class="flex flex-1 gap-y-2 flex-col">
    <span class="text-[#CFC2D6] text-sm">SALDO TOTAL</span>
    <h1 class="text-[#E5E2E1] font-bold text-5xl">R$ 142.850,00</h1>
    <div class="flex gap-x-2 items-center">
      <div
        class="flex gap-x-2 justify-center items-center rounded-full min-w-40 border border-[#4EDEA320] bg-[#4EDEA310] px-3 py-1"
      >
        <svg-icon src="icons/profits-wallet.svg"></svg-icon>
        <span class="text-[#4EDEA3]">+12.4% este mês</span>
      </div>
      <p class="text-[#CFC2D6]">Resumo do crescimento mensal</p>
    </div>
  </div>
  <svg-icon src="icons/bars-wallet.svg" [svgStyle]="{ width: '256px', height: '128px' }"></svg-icon>
</div>
<div class="w-full rounded-4xl"></div>
<div class="w-full rounded-4xl"></div>
