<app-widget
  title="Meta de Economia"
  subtitle="Nova York 2025"
  footer="Faltam R$ 54.800 para o objetivo final."
  size="sm"
>
  <div class="flex flex-col w-full gap-y-4">
    <div class="flex justify-between text-[#E5E2E1]">
      <span class="font-medium">Progresso</span>
      <span class="text-xl">R$ 45.200</span>
    </div>

    <div class="w-full h-3 rounded-full overflow-hidden flex">
      <div class="bg-[#4EDEA3] shadow-[#4EDEA3] w-[50%]"></div>
      <div class="bg-[#FFFFFF08] w-[50%]"></div>
    </div>
  </div>
</app-widget>
