<div class="flex gap-x-3">
  <div class="w-8 h-8 rounded-full bg-[#DDB7FF20] flex items-center justify-center">🤖</div>
  <div class="flex-1">
    <span class="text-xs text-[#CFC2D6] mb-2 block"> Aura AI </span>
    <div
      class="inline-block pl-1 rounded-2xl rounded-tl-none bg-linear-to-b from-[#DDB7FF] to-[#ADC6FF]"
    >
      <div class="rounded-2xl rounded-tl-none border border-[#DDB7FF20] bg-[#0F1013] p-4">
        <p class="leading-relaxed">
          Entendido. Registrei a remoção do gasto mensal de
          <span class="text-[#DDB7FF] font-semibold rounded-full px-1.5 bg-[#DDB7FF10]">
            R$ 55,90
          </span>
          na categoria
          <span class="text-[#ADC6FF] font-semibold rounded-full px-1.5 bg-[#ADC6FF10]">
            Entretenimento </span
          >. Deseja ver como isso afeta seu saldo de final de mês?
        </p>
      </div>
    </div>

    <!-- Confirmation Card -->

  </div>
</div>
