<div class="flex gap-x-3">
  <div class="w-8 h-8 rounded-full bg-[#DDB7FF20] flex items-center justify-center">🤖</div>
  <div class="flex-1">
    <span class="text-xs text-[#CFC2D6] mb-2 block"> Aura AI </span>
    <div
      class="inline-block pl-1 rounded-2xl rounded-tl-none bg-linear-to-b from-[#DDB7FF] to-[#ADC6FF]"
    >
      <div class="rounded-2xl rounded-tl-none border border-[#DDB7FF20] bg-[#0F1013] p-4">
        @if (isPending) {
          <p class="leading-relaxed text-[#CFC2D6]">A Aura está pensando...</p>
        } @else {
          <p class="leading-relaxed">{{ content }}</p>
        }
      </div>
    </div>
  </div>
</div>
