<aside
  class="h-screen bg-[#201F1F60] border-e border-[#353534] lg:sticky lg:top-0 lg:w-[256px] lg:shrink-0"
>
  <div class="relative flex flex-col h-full max-h-full">
    <header class="p-4 flex justify-between items-center gap-x-2">
      <app-brand-menu></app-brand-menu>
    </header>

    <app-navbar></app-navbar>

    <div class="mt-auto w-full px-4 mb-4">
      <button
        type="button"
        class="flex w-full py-3 px-4 rounded-full transition-all duration-300"
        [disabled]="isVoiceActive"
        [ngClass]="
          isVoiceActive
            ? 'bg-linear-to-r from-[#DDB7FF20] to-[#ADC6FF20] border border-[#DDB7FF30] cursor-auto opacity-60'
            : 'bg-linear-to-r from-[#DDB7FF] to-[#ADC6FF] cursor-pointer'
        "
      >
        <svg-icon
          src="icons/voice-button.svg"
          [svgStyle]="{
            'width.px': 14,
            'height.px': 19,
          }"
        ></svg-icon>

        <span
          class="flex-1"
          [ngClass]="{
            'text-[#DDB7FF]': isVoiceActive,
            'text-[#490080]': !isVoiceActive,
          }"
          routerLink="voice-assistant"
        >
          Iniciar Sessão de Voz
        </span>
      </button>
    </div>
  </div>
</aside>
