<aside
  class="h-screen bg-[#201F1F60] border-e border-[#353534] lg:sticky lg:top-0 lg:w-[256px] lg:shrink-0"
>
  <div class="relative flex flex-col h-full max-h-full">
    <header class="p-4 flex justify-between items-center gap-x-2">
      <app-brand-menu></app-brand-menu>
    </header>

    <app-navbar></app-navbar>

    <div class="mt-auto w-full px-4 mb-4">
      <button
        type="button"
        class="flex w-full py-3 px-4 rounded-full bg-linear-to-r from-[#DDB7FF] to-[#ADC6FF]"
        [disabled]="isActive('/voice-assistant')"
        [ngClass]="{
          'cursor-not-allowed opacity-50': isActive('/voice-assistant'),
          'cursor-pointer': !isActive('/voice-assistant'),
        }"
      >
        <svg-icon
          src="icons/voice-button.svg"
          [svgStyle]="{ 'width.px': 14, 'height.px': 19, fill: '#490080' }"
        ></svg-icon>

        <span class="text-[#490080] flex-1">Iniciar Sessão de Voz</span>
      </button>
    </div>
  </div>
</aside>
