<app-widget title="Análise de Gastos" size="lg">
  <div class="flex gap-x-2" widget-button>
    <button class="bg-[#FFFFFF05] font-medium text-xs px-3 py-1 rounded-full text-[#CFC2D6]">
      7D
    </button>

    <button class="bg-[#DDB7FF20] font-medium text-xs px-3 py-1 rounded-full text-[#DDB7FF]">
      30D
    </button>
  </div>

  <div class="flex-1 flex flex-col">
    <div class="relative flex-1">
      <div class="absolute inset-0 flex flex-col justify-between">
        <div class="border-b border-[#FFFFFF08]"></div>
        <div class="border-b border-[#FFFFFF08]"></div>
        <div class="border-b border-[#FFFFFF08]"></div>
        <div class="border-b border-[#FFFFFF08]"></div>
      </div>

      <svg class="absolute inset-0 w-full h-full" viewBox="0 0 700 300" preserveAspectRatio="none">
        <polyline
          fill="none"
          stroke="#DDB7FF"
          stroke-width="4"
          points="
            50,100
            150,200
            250,140
            350,190
            450,120
            550,160
            650,80
          "
        />
      </svg>
    </div>
  </div>

  <ul class="flex w-full mt-auto text-[#CFC2D6] justify-between">
    @for (day of data; track day.label) {
      <li
        [class.text-[#DDB7FF]]="day.label === selectedDay"
        [class.font-medium]="day.label === selectedDay"
      >
        {{ day.label }}
      </li>
    }
  </ul>
</app-widget>
