<app-widget title="Análise de Gastos" size="lg">
  <div class="flex gap-x-2" widget-button>
    <button class="bg-[#FFFFFF05] font-medium text-xs px-3 py-1 rounded-full text-[#CFC2D6]">
      7D
    </button>
    <button class="bg-[#DDB7FF20] font-medium text-xs px-3 py-1 rounded-full text-[#DDB7FF]">
      30D
    </button>
  </div>

  <div class="h-full"></div>
  <ul class="flex w-full mt-auto text-[#CFC2D6] justify-between">
    <li>Seg</li>
    <li>Ter</li>
    <li>Qua</li>
    <li>Qui</li>
    <li>Sex</li>
    <li>Sab</li>
    <li>Dom</li>
  </ul>
</app-widget>
