<app-widget title="Aura Insights">
  <div class="flex flex-col gap-y-4">
    <div
      class="flex rounded-[48px] text-wrap text-sm p-4 bg-[#FFFFFF05] border border-[#FFFFFF05] text-[#CFC2D6]"
    >
      "Notei um aumento de 15% nos seus gastos com delivery este mês. Que tal definirmos um alerta
      para essa categoria?"
    </div>
    <button
      class="w-full rounded-full text-center font-medium py-2 text-[#DDB7FF] border border-[#DDB7FF30]"
    >
      Aceitar sugestão
    </button>
  </div>
</app-widget>
